* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.content-box {
    height: 200px;
    width: 400px;
    justify-content: center;
    background-color: steelblue;
    margin: 15px;
    font-size: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.300);
    border-radius: 5px;
    transform: translateX(-300%);
    transition: transform 1s ease;
}

/* odd và even là keywords được sử dụng để so khớp các phần tử con có chỉ số là lẻ hoặc chẵn (chỉ số của phần tử con đầu tiên là 1) */

.content-box:nth-of-type(odd) {
    transform: translateX(300%);
}

.content-box.show {
    transform: translateX(0);
}